<nav class="navbar-airbnb">
  <h1>Simple Airbnb</h1>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="ml-auto flex">

      <%= link_to "Add a flat", new_flat_path(@flat), class: "btn btn-primary" %>
    </div>
  </div>
</nav>
